<%= form_for @user, url: users_path , html:{ method: :post } do |f| %>
  <p>投稿</p>
  <p>お名前: <%= f.text_field :name %></p>
  <p>年齢: <%= f.text_field :age %></p>
  <p>出身: <%= f.text_field :birth_place %></p>
  <p>特技: <%= f.text_field :special_skill %></p>
  <input type="submit" value="送信">
<% end %>